.div_wtsp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .labe_wtsp {
    font-size: 40px;
    color: #25D366;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out infinite alternate;
  }
  
  .div_btn {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: nowrap;
  }
  
  .btn {
    background-color: #25D366;
    border: none;
    padding: 25px;
    max-width: 449px;
    width: 100%;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    animation: pulse 2s infinite;
  }
  
  .btn:hover {
    transform: scale(1.1);
    background-color: #1da851;
    box-shadow: 0 0 10px #1da851;
  }
  
  .btn__a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn__p {
    margin: 0;
    margin-right: 10px;
    font-size: 26px;
  }
  
  .wtps__img {
    border: 3px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .spn {
    margin: 0 20px;
    font-size: 26px;
  }
  
  @media (max-width: 1250px) {
    .div_btn {
      gap: 15px;
    }
    .btn__p {
      font-size: 22px;
    }
    .wtps__img {
      width: 50px;
      height: 50px;
    }
    .spn {
      font-size: 22px;
    }
  }
  
  @media (max-width: 1120px) {
    .div_btn {
      gap: 10px;
    }
    .btn {
      padding: 20px;
    }
    .btn__p {
      font-size: 20px;
    }
    .wtps__img {
      width: 45px;
      height: 45px;
    }
    .spn {
      margin: 0 10px;
      font-size: 20px;
    }
    .labe_wtsp {
      font-size: 36px;
    }
  }
  
  @media (max-width: 1040px) {
    .div_btn {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }
  
  @media (max-width: 740px) {
    .div_wtsp {
      gap: 20px;
    }
    .div_btn {
      gap: 10px;
    }
    .btn__p {
      font-size: 18px;
    }
    .wtps__img {
      width: 40px;
      height: 40px;
    }
    .labe_wtsp {
      font-size: 30px;
    }
  }
  
  @media (max-width: 550px) {
    .div_btn {
      gap: 5px;
    }
    .btn {
      padding: 15px;
    }
    .labe_wtsp {
      font-size: 26px;
    }
  }
  
  @media (max-width: 490px) {
    .div_wtsp {
      gap: 15px;
    }
    .labe_wtsp {
      font-size: 24px;
    }
  }
  
  @media (max-width: 460px) {
    .labe_wtsp {
      font-size: 22px;
    }
    .btn__p {
      font-size: 16px;
      margin-right: 5px;
    }
    .wtps__img {
      width: 35px;
      height: 35px;
    }
    .spn {
      font-size: 18px;
    }
    .btn__a {
      flex-wrap: wrap;
    }
    .btn {
      border-radius: 25px;
    }
  }
  
  @media (max-width: 400px) {
    .btn {
      border-radius: 40px;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0.5; 
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  
  
  