/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/consent/Consent.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Consent_container__6BglC {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .Consent_center__qVNUi {
    text-align: center;
    margin-top: 20px;
  }
  
  .Consent_returnButton__nHGwp {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0070f3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .Consent_returnButton__nHGwp:hover {
    background-color: #0056b3;
  }
  
