/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Toast/Toast.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Toast_toast__yHrd_ {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(-50%);
  }
  
  .Toast_toast__yHrd_.Toast_visible__NfyDD {
    visibility: visible;
    opacity: 1;
  }
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Footer/Footer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__4m1fF {
    position: relative;
    margin-top: 60px;
}
.Footer_hr__Mff0U{
    border: 0px;
    border-top: 1px solid #9AA2B1;
}
.Footer_section__zWFCb{
    margin: 30px 30px;
}
.Footer_footer__section__EyImx {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.Footer_footer__logo__axAUj {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.Footer_logo__image__t8iK9 {
    height: 82px;
    width: 150px;
}

.Footer_footer__form__GrvhS {
    font-size: 24px;
}

.Footer_footer__form__text__nDmAV {
    color: #005EC8;
}

.Footer_footer__contact__GlNat {
    text-align: left;
}

.Footer_footer__contact__GlNat p {
    font-size: 22px;

}
.Footer_footer__contact__GlNat li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.Footer_contact__image__A6FFR {
    height: 40px;
}

.Footer_contact__text__1D7q0 {
    font-size: 20px;
}

.Footer_footer__social__Sf2eq {
    display: flex;
    gap: 20px;
}

.Footer_social__image__hNrow {
    max-height: 56px;
    max-width: 56px;
}

.Footer_copyright__SAsag {
    position: absolute;
    bottom: 10px;
    left: 60px;
}

.Footer_copyright__text__5xQnM {
    font-size: 18px;
    color: #1B1F3B;
    opacity: 0.5;
}
@media (max-width: 1110px) {
    .Footer_logo__image__t8iK9 {
        height: 64px;
    }
    .Footer_footer__form__GrvhS {
        font-size: 22px;
    }
    .Footer_contact__image__A6FFR {
        height: 35px;
    }
    .Footer_contact__text__1D7q0 {
        font-size: 18px;
    }
    .Footer_social__image__hNrow {
        max-height: 50px;
    }
    .Footer_copyright__SAsag {
        bottom: 10px;
    }
    .Footer_footer__4m1fF {
        margin-top: 40px;
    }

}
@media (max-width: 1010px) {
    .Footer_footer__section__EyImx {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .Footer_footer__logo__axAUj,
    .Footer_footer__form__GrvhS,
    .Footer_footer__contact__GlNat,
    .Footer_footer__social__Sf2eq {
        width: 100%;
        text-align: center;
    }

    .Footer_footer__logo__axAUj {
        justify-content: center;
    }

    .Footer_footer__form__GrvhS {
        font-size: 20px;
    }

    .Footer_footer__contact__GlNat p {
        font-size: 18px;
        text-align: start; 
    }

    .Footer_contact__text__1D7q0 {
        font-size: 16px;
        text-align: left; 
    }

    .Footer_footer__social__Sf2eq {
        display: flex;
        justify-content: center; 
        gap: 20px; 
    }

    .Footer_social__image__hNrow {
        height: 40px;
        width: auto; 
    }

    .Footer_copyright__text__5xQnM {
        font-size: 14px;
    }

    .Footer_copyright__SAsag {
        position: static;
        text-align: center; 
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
.Footer_logo__image__t8iK9 {
    height: 54px;
}
.Footer_footer__4m1fF {
    margin-top: 20px;
}
}


/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Header/Header.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header___60Q_ {
    padding: 20px;
}

.Header_nav__0VWUe {
    display: flex;
    justify-content: flex-end;
}

.Header_menu__gdSNe {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.Header_hr__uh7_I {
    border: 0px;
    border-top: 2px solid #1B1F3B;
}

.Header_menu__link__y3uji {
    text-decoration: none;
    color: #1B1F3B;
    font-weight: normal;
    font-size: 24px;
}

.Header_menu__link_active__4J9Xy {
    color: #00489A;
}

.Header_logo__xmjV5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.Header_logo__info__JdJxX {
    display: flex;
    align-items: center;
}

.Header_logo__image__Dth_U {
    height: 84px;
    width: 150px;
    margin-right: 10px;
}

.Header_logo__name__ljXOb {
    font-size: 22px;
}

.Header_contact__HMjNU {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Header_contact__wrapper__CtEzd {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.Header_contact__phone__wpYI6 {
    font-size: 20px;
    color: #1B1F3B;
    margin-right: 10px;
}

.Header_contact__image__8Cjmb {
    height: 30px;
}

@media (max-width: 1024px) {
    .Header_menu__gdSNe {
        gap: 30px; 
    }
    .Header_menu__link__y3uji {
        font-size: 20px;
    }
    .Header_logo__name__ljXOb {
        font-size: 20px;
    }
    .Header_contact__phone__wpYI6 {
        font-size: 18px; 
    }
}

@media (max-width: 768px) {
    .Header_header___60Q_{
        padding: 10px;
    }

    .Header_menu__link__y3uji {
        font-size: 18px;
    }

    .Header_logo__image__Dth_U {
        height: 54px;
        margin: 0; 
    }

    .Header_logo__name__ljXOb {
        font-size: 16px; 
        margin-top: 5px; 
    }

    .Header_contact__HMjNU {
        align-items: flex-start; 
        margin-top: 10px; 
    }

    .Header_contact__phone__wpYI6 {
        font-size: 16px;
    }

    .Header_contact__image__8Cjmb {
        height: 24px; 
    }
}
@media (max-width: 620px) {
.Header_logo__xmjV5 {
    flex-direction: column; 
    align-items: center; 
    gap: 2px; 
}
}




/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'OpenSansHebrew';
  src: url(/fonts/opensanshebrew-regular.eot);
  src: url(/fonts/opensanshebrew-regular.eot?#iefix) format('embedded-opentype'),
       url(/fonts/opensanshebrew-regular.woff2) format('woff2'),
       url(/fonts/opensanshebrew-regular.woff) format('woff'),
       url(/fonts/opensanshebrew-regular.ttf) format('truetype'),
       url(/fonts/opensanshebrew-regular.svg#open_sans_hebrewregular) format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(/fonts/opensanshebrew-italic.eot);
  src: url(/fonts/opensanshebrew-italic.eot?#iefix) format('embedded-opentype'),
       url(/fonts/opensanshebrew-italic.woff2) format('woff2'),
       url(/fonts/opensanshebrew-italic.woff) format('woff'),
       url(/fonts/opensanshebrew-italic.ttf) format('truetype'),
       url(/fonts/opensanshebrew-italic.svg#open_sans_hebrewitalic) format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(/fonts/opensanshebrew-bold.eot);
  src: url(/fonts/opensanshebrew-bold.eot?#iefix) format('embedded-opentype'),
       url(/fonts/opensanshebrew-bold.woff2) format('woff2'),
       url(/fonts/opensanshebrew-bold.woff) format('woff'),
       url(/fonts/opensanshebrew-bold.ttf) format('truetype'),
       url(/fonts/opensanshebrew-bold.svg#open_sans_hebrewbold) format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(/fonts/opensanshebrew-bolditalic.eot);
  src: url(/fonts/opensanshebrew-bolditalic.eot?#iefix) format('embedded-opentype'),
       url(/fonts/opensanshebrew-bolditalic.woff2) format('woff2'),
       url(/fonts/opensanshebrew-bolditalic.woff) format('woff'),
       url(/fonts/opensanshebrew-bolditalic.ttf) format('truetype'),
       url(/fonts/opensanshebrew-bolditalic.svg#open_sans_hebrewbold_italic) format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(/fonts/opensanshebrew-extrabold.eot);
  src: url(/fonts/opensanshebrew-extrabold.eot?#iefix) format('embedded-opentype'),
       url(/fonts/opensanshebrew-extrabold.woff2) format('woff2'),
       url(/fonts/opensanshebrew-extrabold.woff) format('woff'),
       url(/fonts/opensanshebrew-extrabold.ttf) format('truetype'),
       url(/fonts/opensanshebrew-extrabold.svg#open_sans_hebrewextra_bold) format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(/fonts/opensanshebrew-extrabolditalic.eot);
  src: url(/fonts/opensanshebrew-extrabolditalic.eot?#iefix) format('embedded-opentype'),
       url(/fonts/opensanshebrew-extrabolditalic.woff2) format('woff2'),
       url(/fonts/opensanshebrew-extrabolditalic.woff) format('woff'),
       url(/fonts/opensanshebrew-extrabolditalic.ttf) format('truetype'),
       url(/fonts/opensanshebrew-extrabolditalic.svg#open_sans_hebrewXBdIt) format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(/fonts/opensanshebrew-light.eot);
  src: url(/fonts/opensanshebrew-light.eot?#iefix) format('embedded-opentype'),
       url(/fonts/opensanshebrew-light.woff2) format('woff2'),
       url(/fonts/opensanshebrew-light.woff) format('woff'),
       url(/fonts/opensanshebrew-light.ttf) format('truetype'),
       url(/fonts/opensanshebrew-light.svg#open_sans_hebrewlight) format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url(/fonts/opensanshebrew-lightitalic.eot);
  src: url(/fonts/opensanshebrew-lightitalic.eot?#iefix) format('embedded-opentype'),
       url(/fonts/opensanshebrew-lightitalic.woff2) format('woff2'),
       url(/fonts/opensanshebrew-lightitalic.woff) format('woff'),
       url(/fonts/opensanshebrew-lightitalic.ttf) format('truetype'),
       url(/fonts/opensanshebrew-lightitalic.svg#open_sans_hebrewlight_italic) format('svg');
  font-weight: 200;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'OpenSansHebrew', sans-serif;
  font-size: 32px;
  color: #1B1F3B;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSansHebrew', sans-serif;
  margin: 0;
  color: #00489A;
  font-weight: lighter;
}

ul, ol, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
} */

/* .button {
  font-family: 'OpenSansHebrew', sans-serif;
  display: block;
  padding: 18px 35px;
  border: 4px solid black;
  background-color: transparent;
  text-transform: uppercase;
  width: fit-content;
  color: black;
  font-size: 30px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  white-space: nowrap;
} */


.main {
  overflow: hidden;
}

@media (max-width: 1728px) {
  body {
    border: none;
  }
}

@media (max-width: 1440px) {
  body {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
  }
}

